*{
    margin: 0;
    padding: 0;
}

.header{
    border: 1px solid black;
    background-color: black;
    
}

.header .brand-img img{
    width: 100px;
}

.header .brand-items{
                display: flex;
}

.header .brand-items .brand-text ul{
    display: flex;
    margin-top: 20px;
    /* margin-left: 50%; */
}

.header .brand-items .brand-text{
    margin-left: 70%;
}

.header .brand-items .brand-text ul li {
    
    list-style: none;
    padding: 10px;
}

.header .brand-items .brand-text ul li a{
    text-decoration: none;
    color: #F5883D;
    font-weight: bolder;
    font-size: larger;
}

.banner{
    background-image: url(/img/pexels-christina-morillo-1181233.jpg);
    height: 95vh;
    border: 1px solid black;
    background-size: cover;
}

.banner::before{
    content: "";
    position: absolute;
    width: 100%;
    background-color: black;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: .5;
}

.banner .banner-text{
    margin-left: 25%;
    margin-top: 15%;
}

.banner .banner-text h2{
    font-size: 70px;
    color: #F9683F;
}

.banner .banner-btn{
    margin-left: 35%;
}