*{
    margin: 0;
    padding: 0;
}

.header{
    /* border: 1px solid black; */
    /* background-color: black; */
    /* opacity: .9; */
    z-index: 99;
    position: fixed;
    top: 0;
}


.header .brand-img img{
    width: 90px;
    position: fixed;
    margin-left: 10px;
    top: 10px;
}

.header .brand-items{
    display: flex;
    /* position: fixed; */
}

.header .brand-items .brand-text ul{
    display: flex;
    margin-top: 20px;
    /* margin-left: 50%; */
}

.header .brand-items .brand-text{
    /* margin-left: 80%; */
    position: fixed;
    left: 80%;
}


.header .brand-items .brand-text ul li {
    
    list-style: none;
    padding: 10px;
}

.header .brand-items .brand-text ul li a{
    text-decoration: none;
    color: #ffffff;
    font-weight: bolder;
    font-size: larger;
}

.banner{
    background-image: url(/img/pexels-christina-morillo-1181233.jpg);
    height: 95vh;
    border: 1px solid black;
    background-size: cover;
    background-repeat: no-repeat;
}

.banner::before{
    content: "";
    position: absolute;
    width: 100%;
    background-color: black;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: .5;
}

.banner .banner-text{
    /* margin-left: 25%; */
    text-align: center;
    margin-top: 15%;
    opacity: .9;
    line-height: 50px;
}

.banner .banner-text h2{
    font-size: 60px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #F9683F;
}

.banner .banner-text p{
    color: white;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
}

.banner .banner-btn{
    margin-left: 35%;
    margin-top: 20px;
}

.banner .banner-btn button{
    width: 250px;
    height: 35px;
    background-color: #F9683F ;
    border: none;
    border-radius: 20px;
    opacity: .9;
}

.banner .banner-btn button:hover{
    background-color: black;
    color: #F9683F;
}

.banner .banner-btn button:nth-child(1){
    background-color: black;
    /* color: #F9683F; */
}

.banner .banner-btn button:nth-child(1):hover{
    background-color:#F9683F ;
    color: white;
}

.banner .banner-btn button:nth-child(1) a{
    color: #ffffff;
}

.banner .banner-btn button:nth-child(1) a:hover{
    color: white;
}

.banner .banner-btn button a{
    text-decoration: none;
    color: white;
}

.banner hr{
    width: 500px;
    height: 2px;
    border-style: none;
    background-color: white;
    margin-left: 35%;
    margin-top: 20px;
    opacity: .9;
}

footer{
    background-color: black;
}

footer img{
    background-color:white;
    border-radius: 100px;
    width: 15px;
    margin-left: 10px;
}

footer h4{
    color: #F9683F;
    margin-left: 10px;
    padding: 10px 0;
}

footer img:hover{
    background-color:#F9683F;
    border-radius: 100px;
}

.socials{
    position: fixed;
    top: 30%;
    right: 0;
    /* transform: translateY(-50%); */
}

.socials a{
    display: flex;
    justify-content: center;
    width: 50px;
    height: 50px;
    text-decoration: none;
    /* padding: 0; */
    /* margin: 0; */
    /* background-color: #ffffff; */
    /* border: 1px solid black; */
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
}

.socials i{
    color: #Ffff;
    padding-top: 15px;
    font-size: 20px;
}

.socials a:hover {
    background-color: black;
    opacity: .4;
    transition: all ease-in-out 0.5s;
}